<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Thêm khách hàng</title>
</head>
<body>
<main role="main">

    <section layout:fragment="body" class="album py-5 bg-light">
        <div class="container content">
            <form th:object="${customer}" method="post" th:action="@{/customers/new}">
                <div class="mb-3">
                    <label for="name" class="form-label">Họ tên</label>
                    <input type="text" th:field="*{name}" class="form-control" id="name">
                    <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p>
                </div>

                <div class="mb-3">
                    <label for="address" class="form-label">Địa chỉ</label>
                    <input type="text" th:field="*{address}" class="form-control" id="address">
                    <p th:if="${#fields.hasErrors('address')}" class="text-danger" th:errors="*{address}"></p>
                </div>

                <div class="mb-3 d-flex">
                    <label class="form-label me-4">Giới tính</label><br>
                    <div class="form-check">
                        <input type="radio" th:field="*{gender}" value="Nam" class="form-check-input" id="genderMale">
                        <label class="form-check-label me-3" for="genderMale">Nam</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" th:field="*{gender}" value="Nữ" class="form-check-input" id="genderFemale">
                        <label class="form-check-label" for="genderFemale">Nữ</label>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="phoneNumber" class="form-label">Số điện thoại</label>
                    <input type="text" required pattern="^0\d{9}$" th:field="*{phoneNumber}"
                           title="Số điện thoại phải bắt đầu bằng 0 và có 10 chữ số."
                           class="form-control" id="phoneNumber">
                    <p th:if="${#fields.hasErrors('phoneNumber')}" class="text-danger" th:errors="*{phoneNumber}"></p>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" th:field="*{email}"
                           class="form-control" id="email">
                    <p th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}"></p>
                </div>

                <div class="mb-3">
                    <label for="username" class="form-label">Tên tài khoản</label>
                    <input type="text" th:field="*{username}" class="form-control" id="username">
                    <p th:if="${#fields.hasErrors('username')}" class="text-danger" th:errors="*{username}"></p>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Mật khẩu</label>
                    <input type="text" th:field="*{password}" class="form-control" id="password">
                    <p th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="*{password}"></p>
                </div>

                <div class="mb-3">
                    <label for="dateOfBirth" class="form-label">Ngày sinh</label>
                    <input type="date" id="dateOfBirth" th:field="*{dateOfBirth}" name="dateOfBirth" required/>
                </div>

                <button type="submit" class="btn btn-primary">Thêm khách hàng</button>
            </form>
        </div>
    </section>

</main>
</body>


</html>
